<div class="d-flex flex-column justify-content-center align-items-center  layout-errors bg-dark text-secondary">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <p>{{error.stack}}</p>
</div>

<style>
    .layout-errors{
        width: 95%;
        height: 100vh;
    }
</style>